{% extends 'base.html.twig' %}

{% block title %}Your Profile{% endblock %}

{% block stylesheets %}
    <style>
        .profile-container {
            padding-top: 24px;
            display: flex;
            gap: 80px;
        }

        .profile-container img {
            height: 500px;
            aspect-ratio: 1 / 1;
            border-radius: 12px;
        }

        .profile-container form {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .form-group input:focus {
            border-color: #9a8c98;
            outline: none;
        }

        .static-field {
            background: var(--au-lait);
            padding: 0.6rem 1rem;
            border-radius: 8px;
            font-size: 0.95rem;
            color: var(--inkwell);
        }
    </style>
{% endblock %}

{% block body %}
    <div class="content">
        <h1>Welcome back {{ profile.firstName }} {{ profile.lastName }} ✨</h1>

        <div class="profile-container">
            <img src="{{ asset("images/user.jpg") }}" alt="">

            {{ form_start(profileForm) }}

            <div class="form-row">
                {{ form_label(profileForm.lastName) }}
                {{ form_widget(profileForm.lastName, {'attr': {'placeholder': 'Last name'}}) }}
            </div>

            <div class="form-row">
                {{ form_label(profileForm.firstName) }}
                {{ form_widget(profileForm.firstName, {'attr': {'placeholder': 'First name'}}) }}
            </div>

            <div class="form-row">
                <label>Email</label>
                <div class="static-field">{{ profile.email }}</div>
            </div>

            <div class="form-row">
                <label>Points</label>
                <div class="static-field">{{ profile.points }}</div>
            </div>

            <div class="form-row">
                <label>Compte</label>
                <div class="static-field">{{ profile.isActive ? 'active' : 'disable' }}</div>
            </div>

            <button type="submit" class="btn">Save changes</button>

            {{ form_end(profileForm) }}

        </div>
    </div>
{% endblock %}
