{% extends 'base.html.twig' %}

{% block title %}{{ product.name }} - Détails{% endblock %}

{% block body %}
    <style>
        .product-date {
            font-size: 18px;
            color: var(--lunar-eclipse);
        }

        .product-description {
            font-size: 1.15rem;
            line-height: 1.7;
            color: var(--inkwell);
            background-color: #F0F0F0;
            padding: 18px;
            border-radius: 12px;
        }

        .product-price {
            font-size: 2rem;
            font-weight: 700;
            color: var(--lunar-eclipse);
        }

        .buy-form {
            margin-top: 20px;
        }

        .buy-button {
            padding: 14px 28px;
            font-size: 1.1rem;
            background: var(--inkwell);
            color: #F0F0F0;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            transition: background 0.3s ease, transform 0.2s ease;
            display: inline-flex;
            align-items: center;
            gap: 10px;
        }

        .buy-button i {
            color: #F0F0F0;
        }

        .disabled-buy-button, .disabled-buy-button i {
            color: var(--creme-brulee) !important;
        }
        .buy-form .disabled-buy-button {
            background-color: rgba(204, 198, 182, 0.5) !important;
            cursor: auto;
        }

    </style>

    <div class="content">
        <div class="product-header">
            <h1>{{ product.name }}</h1>
            <div class="product-date">
                {% trans %}created_at{% endtrans%} {{ product.createdAt|date("d/m/Y") }}
            </div>
            {% if product.updatedAt is not null %}
            <div class="product-date">
                {% trans %}last_update{% endtrans%} {{ product.updatedAt|date("d/m/Y H:i") }}
            </div>
            {% endif %}
        </div>

        <div class="product-description">
            {{ product.description }}
        </div>

        <div class="product-price">
            {{ product.price }} {% trans %}points{% endtrans %}
        </div>

        {% if app.user and app.user.isActive %}
            <form class="buy-form" action="{{ path('app_buy_product', { id: product.id }) }}" method="post">
                <button class="buy-button {{ product.price > app.user.points ? "disabled-buy-button" : "" }}" type="submit" {% if product.price > app.user.points %}disabled{% endif %}>
                    <i class="fa-solid fa-cart-plus"></i>
                    {% trans %}buy{% endtrans %}
                </button>
            </form>
        {% endif %}
    </div>
{% endblock %}
