{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
    <style>
    </style>
{% endblock %}

{% block body %}
<div class="content">
    <div class="register-form">
        <h1>{% trans %}sign_up{% endtrans %}</h1>

        {{ form_start(registrationForm) }}

        <div class="form-row">
            {{ form_label(registrationForm.lastName) }}
            {{ form_widget(registrationForm.lastName) }}
        </div>

        <div class="form-row">
            {{ form_label(registrationForm.firstName) }}
            {{ form_widget(registrationForm.firstName) }}
        </div>

        <div class="form-row">
            {{ form_label(registrationForm.email) }}
            {{ form_widget(registrationForm.email) }}
        </div>

        <div class="form-row">
            {{ form_label(registrationForm.plainPassword) }}
            {{ form_widget(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
        </div>

        <div class="agree-terms-box">
            {{ form_label(registrationForm.agreeTerms) }}
            {{ form_widget(registrationForm.agreeTerms) }}
        </div>

        <button type="submit" class="btn">
            {% trans %}sign_up{% endtrans %}
        </button>

        <a href="{{ path('app_login') }}" class="sign-link">{% trans %}sign_in_text{% endtrans %}</a>

        {{ form_end(registrationForm) }}
    </div>
</div>
{% endblock %}
