{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block stylesheets %}
<style>

    .create-form-container {
        padding: 24px;
        background-color: #F0F0F0;
        border-radius: 12px;
    }

    .edit-form-container {
        padding-top: 24px;
    }

    .products-container {
        grid-template-columns: repeat(2, 45%) !important;
    }
    .products-container .item-card .product-image {
        width: 100%;
        height: 250px;
        border-radius: 38px;
        object-fit: cover;
        overflow: hidden;
    }
    .products-container .item-card .product-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .products-container .item-texts form {
        display: flex;
        flex-direction: column;
        gap: 18px !important;
    }

    .products-container .item-texts form div {
        display: flex;
        flex-direction: column;
        gap: 8px !important;
    }

    .products-container .item-texts form .action-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .products-container .item-texts form .action-container button {
        width: 100%;
        padding: 12px;
        border: none;
        color: white;
        font-weight: bold;
        border-radius: 8px;
        cursor: pointer;
    }
    .btn-save{
        background-color: #449768;
    }
    .btn-delete {
        background-color: #974444;
    }
</style>
{% endblock %}

{% block body %}
<div class="content">
    <div class="create-form-container">
        <h1>{% trans %}form.create_btn{% endtrans %}</h1>

        {{ form_start(create_product_form) }}

        <div class="form-row">
            {{ form_label(create_product_form.name) }}
            {{ form_widget(create_product_form.name) }}
        </div>

        <div class="form-row">
            {{ form_label(create_product_form.description) }}
            {{ form_widget(create_product_form.description) }}
        </div>

        <div class="form-row">
            {{ form_label(create_product_form.price) }}
            {{ form_widget(create_product_form.price) }}
        </div>

        <div class="form-row">
            {{ form_label(create_product_form.category) }}
            {{ form_widget(create_product_form.category) }}
        </div>

        <button type="submit" class="btn">
            {% trans %}form.create_btn{% endtrans %}
        </button>

        {{ form_end(create_product_form) }}
    </div>

    <div class="edit-form-container">
        <h1>{% trans %}products{% endtrans %} 🛍️</h1>
        <div class="products-container">
            {% for product in products %}
                <div class="item-card">
                    <div class="product-image">
                        <img src="{{ asset("images/clothes.jpg") }}" alt="">
                    </div>
                    <div class="item-texts">
                        {{ form_start(edit_product_form[product.id]) }}
                        {{ form_row(edit_product_form[product.id].name) }}
                        {{ form_row(edit_product_form[product.id].description) }}
                        {{ form_row(edit_product_form[product.id].price) }}
                        {{ form_row(edit_product_form[product.id].category) }}
                        <div class="action-container">
                            <button type="submit" name="action" value="save" class="btn-save">{% trans %}form.save_btn{% endtrans %}</button>
                            <button type="submit" name="action" value="delete" class="btn-delete">{% trans %}form.delete_btn{% endtrans %}</button>
                        </div>
                        {{ form_end(edit_product_form[product.id]) }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
