<style>
    nav {
        padding: 8px 20px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #f0f0f0;
        border-bottom: 1px solid #ccc;
    }

    .menu-logo {
        height: 50px;
        aspect-ratio: 1 / 1;
    }

    .menu-container {
        display: flex;
        gap: 24px;
        list-style-type: none;
    }

    .menu-container li a {
        padding: 12px 18px;
    }
    .menu-container li a, .points-pill {
        display: flex;
        align-items: center;
        gap: 12px;
        text-decoration: none;
    }

    .points-pill {
        padding: 12px 18px;
        background: var(--lunar-eclipse);
        border-radius: 12px;
        color: var(--au-lait);
    }
    .points-pill i {
        color: var(--au-lait);
    }

    .language-pill {
        background-color: var(--au-lait);
        border-radius: 12px;
    }
</style>

<nav>
    <a class="menu-logo" href="{{ path('app_home') }}">
        <img class="menu-logo" src="{{ asset("images/logo.svg") }}" alt="VivaMode">
    </a>
    <ul class="menu-container">
        <li class="language-pill">
            <a href="{{ path('app_home_language') }}">
                {{ app.request.locale }}
            </a>
        </li>
        {% if is_granted('ROLE_ADMIN') %}
            <li>
                <a href="{{ path('app_user') }}">
                    <i class="fa-solid fa-users"></i>
                    {% trans %}menu.users{% endtrans %}
                </a>
            </li>
            <li>
                <a href="{{ path('app_product') }}">
                    <i class="fa-solid fa-cart-shopping"></i>
                    {% trans %}menu.products{% endtrans %}
                </a>
            </li>
            <li>
                <a href="{{ path('app_notification') }}">
                    <i class="fa-solid fa-bell"></i>
                    {% trans %}menu.notifications{% endtrans %}
                </a>
            </li>
        {% endif %}
        <li>
            <a href="{{ path('app_profile') }}">
                <i class="fa-solid fa-user"></i>
                {% trans %}menu.profile{% endtrans %}
            </a>
        </li>
        {% if app.user %}
            <li class="points-pill">
                <i class="fa-solid fa-wallet"></i>
                {{ app.user.points }} {% trans %}points{% endtrans %}
            </li>
        {% endif %}
    </ul>
</nav>
