{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<style>
    .give-points-container {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .give-points-container button {
        padding: 24px;
        height: 100%;
        width: 100%;
        border-radius: 50px;
        border: none;
        background: var(--inkwell);
        cursor: pointer;
        color: var(--au-lait) !important;
    }
    .activate-form {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .activate-button {
        padding: 4px 8px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        gap: 8px;
        background: transparent;
        border-radius: 8px;
        cursor: pointer;
    }
    .active {
        background: var(--inkwell);
    }
    .active span, .active i {
        color: var(--au-lait);
    }
</style>

<div class="content">
    <div class="items-container">
        <form class="give-points-container" action="{{ path('app_user_give_points') }}" method="post">
            <button type="submit">
                Give 1000 points to all active users
            </button>
        </form>

        {% for user in users %}
            <div class="item-card">
                <div class="user-image"></div>
                <div class="item-texts">
                    <div class="info-one">
                        <h2>{{ user.lastName }} {{ user.firstName }}</h2>
                        <p>{{ user.points }} pts</p>
                    </div>
                    <div class="info-two">
                        <form class="activate-form" action="{{ path('app_user_toggle_active', { id: user.id }) }}" method="post">
                            <button class="activate-button {{ user.isActive ? 'active' : 'inactive' }}" type="submit">
                                <span>Active</span>
                                <i class="fa-solid fa-circle-play"></i>
                            </button>

                            <button class="activate-button {{ user.isActive is not true ? 'active' : 'inactive' }}" type="submit">
                                <span>Inactive</span>
                                <i class="fa-solid fa-circle-pause"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
