{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<style>
    .give-points-container {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .give-points-container button {
        padding: 24px;
        height: 100%;
        width: 100%;
        border-radius: 50px;
        border: none;
        background: var(--inkwell);
        cursor: pointer;
        color: var(--au-lait) !important;
    }
    .activate-button {
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background: transparent;
    }
</style>

    <div class="items-container">
        <form class="give-points-container" action="{{ path('app_user_give_points') }}" method="post">
            <button type="submit">
                Give 1000 points to all active users
            </button>
        </form>

        {% for user in users %}
        <div class="item-card">
            <div class="user-image"></div>
            <div class="item-texts">
                <div class="info-one">
                    <h2>{{ user.lastName }} {{ user.firstName }}</h2>
                    <hp>{{ user.points }}</hp>
                </div>
                <div class="info-two">
                    {% if user.isActive %}
                        <span>Account activate</span>
                    {% else %}
                        <span>Account disable</span>
                    {% endif %}
                    <form action="{{ path('app_user_toggle_active', { id: user.id }) }}" method="post">
                        <button class="activate-button" type="submit">
                            {% if user.isActive %}
                                <i class="fa-solid fa-circle-pause"></i>
                            {% else %}
                                <i class="fa-solid fa-circle-play"></i>
                            {% endif %}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}
